.store-component {

  .title {
    width: 100%;
    margin-left: 10px;
  }

  .cart {
    color: red;
  }

  .product-grid {
    display: flex;
    margin: 10px;
  }

  .card {
    margin-left: 10px;
  }

}
